<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094424006770-g08f3a6efbgaojdrdjd4joioh21hd7l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094424006770-g08f3a6efbgaojdrdjd4joioh21hd7l5</string>
	<key>API_KEY</key>
	<string>AIzaSyB_6UfylQdiJkeFCtQqkLOehCs7_xNGaUw</string>
	<key>GCM_SENDER_ID</key>
	<string>1094424006770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ridesharing.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ride-sharing-app-de6eb</string>
	<key>STORAGE_BUCKET</key>
	<string>ride-sharing-app-de6eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094424006770:ios:17eca94807312b283272eb</string>
</dict>
</plist>